<h1 class="border">Stupid Coaching</h1>
<form action="/answer">
  <label for="ask">Ask your coach anything :</label>
  <br>
  <input type="text" name="ask">
  <input type="submit" value="Ask!">
</form>
